<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tistory.project_api.mapper.UserMapper">
    <select id="findAll"
            resultType="com.tistory.project_api.dto.UserDto$UserBase">
        SELECT id, username, password, email, enabled, role
             , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') AS createdAt
             , DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i:%s') AS updatedAt
        FROM user
    </select>

    <insert id="signUp"
            parameterType="com.tistory.project_api.dto.UserDto$SignUp">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            SELECT CONCAT('U', DATE_FORMAT(NOW(), '%y%m%d'),
                   LPAD(CAST(COALESCE(MAX(CAST(SUBSTRING(id, 8) AS UNSIGNED)), 0) + 1 AS CHAR), 6, '0')) AS id
            FROM user
            WHERE SUBSTRING(id, 2, 6) = DATE_FORMAT(NOW(), '%y%m%d');
        </selectKey>

        INSERT INTO USER (id, username, password, email, enabled, role, created_at, updated_at)
        VALUES (#{id}, #{username}, #{password}, #{email}, true, 'user', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="findByEmail"
            parameterType="com.tistory.project_api.dto.UserDto$UserSearchByEmailCondition"
            resultType="com.tistory.project_api.dto.UserDto$UserBase">
        SELECT id, username, password, email, enabled, role
             , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') AS createdAt
             , DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i:%s') AS updatedAt
        FROM user
        WHERE email = #{email}
    </select>

    <insert id="socialSignUp"
            parameterType="com.tistory.project_api.dto.UserDto$SocialSignUp">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            SELECT CONCAT('U', DATE_FORMAT(NOW(), '%y%m%d'),
            LPAD(CAST(COALESCE(MAX(CAST(SUBSTRING(id, 8) AS UNSIGNED)), 0) + 1 AS CHAR), 6, '0')) AS id
            FROM user
            WHERE SUBSTRING(id, 2, 6) = DATE_FORMAT(NOW(), '%y%m%d');
        </selectKey>

        INSERT INTO USER (id, username, email, enabled, role, oauth2_provider, oauth2_provider_id, created_at, updated_at)
        VALUES (#{id}, #{username}, #{email}, true, 'user', #{oauth2Provider}, #{oauth2ProviderId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
</mapper>
